@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.container-fluid {
    height: calc(100% - 35px); /* Subtract navbar height */
    padding: 0;
}

.hero-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3EFE9;
    color: #232122;
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 2rem;
  }
}

.hero-container p {
    font-family: 'Roboto Mono', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #232122;
    max-width: 1163px;
}

.instruction {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #232122;
}

.arrow-text {
  margin-right: 10px; /* Adjust the value as needed */
}

/* NAVBAR */
.navbar-custom {
    margin-bottom: 0;
    height: 35px;
    align-items: center; /* Center the navbar content vertically */
    background-color: #232122; /* New navbar background color */
    width: 100%; /* Make the navbar container wider */
    font-family: 'Roboto Mono', monospace; /* Specify the font family */
    font-weight: 700;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #F3EFE9;
    padding: 0;
    line-height: 35px;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-family: 'Roboto Mono', monospace;
    margin: 0; /* Add a margin to create more space between nav items */
}

.navbar-custom .navbar-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between; /* Spread out the nav items */
}

.navbar-custom .nav-link:hover {
    color: #232122;
    background-color: #F3EFE9; /* New background color on hover */
}