* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E151C;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.container {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0;
}

#header {
    background-color: #0E151C;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'EB Garamond', serif;
    animation: fadeInAnimation ease 2s;
    animation-fill-mode: forwards;
}

#text-wrapper {
    margin: 0 250px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-60%);
}

.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.parallax img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    opacity: 0.7;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1, p {
    color: #fff;
    z-index: 1;
    position: relative;
    font-family: 'EB Garamond', serif;
}

h1 {
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: -5px;
}

p {
    font-size: 25px;
}

select {
    font-family: 'EB Garamond', serif;
    font-size: 15px;
    transform: translateX(900%);
}

svg {
    padding-left: 65px;
    height: 100vh;
}

#vis {
    height: 97vh;
    background-color: #0E151C;
    padding-top: 20px
}

path {
    fill: #0E151C;
}

text {
    fill: #FFF;
}

tspan:hover {
    cursor: pointer;
    font-style: italic;
}

.image-card {
    width: 500px;
    position: fixed;
    right: 100px;
    top: 50%;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.image-card img {
    width: 100%;
    border-radius: 10px;
}

.image-card a {
    text-align: center;
    display: block;
    font-family: 'EB Garamond', serif;
    color: #eee;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
}

.image-card a:hover {
    color:rgb(8, 221, 122);
}