body { 
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: #EEE6E1;
} 

#header {
    color: #222222;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: -5px;
}

p {
    font-weight: 500;
    padding: 0px 209px;
}

select {
    margin: 10px 0 0 10px;
    font-family: Franklin Gothic;
    font-size: 13px;
}

#container {
    position: absolute;
    width: 55%;
    top: 250px;
    bottom: 0;
    margin-left: 2em;
}

path {
    fill: #EEE6E1;
}

text {
    fill: #222222;
    cursor: pointer;
}
