/* RIGHT SECTION STYLE */
.right-section {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
}

/* LEFT SECTION STYLE */
.left-section {
    background-color: #422A65;
}

.left-section #content li {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

/* VISUALIZATION */
.flourish-embed-container {
    width: 100%;
}